.format__group {
    display: flex;
  }
  
  .format__left {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 50%;
    padding: 120px 85px 120px 0;
  }
  
  .format__right {
    padding: 120px 85px 120px 0;
  }
  
  .format__right-title {
    padding-bottom: 40px;
  
    font-weight: 500;
    font-size: 58px;
    line-height: 120%;
    color: #fdfdfd;
  }
  
  .format__right-text {
    margin-bottom: 55px;
  
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fdfdfd;
  }